<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input #ingredientName class="form-control" id="name" type="text">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input #ingredientAmount class="form-control" id="amount" type="number">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button (click)="addIngredientToList()" class="btn-success btn" type="submit">Add</button>
          <button class="btn-danger btn" type="button">Edit</button>
          <button class="btn-primary btn" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
